<style type="image_size">
img{
	height: 100;
	width: 100;
}

</style>
<h1>Top 10 Songs of All Time</h1>
<p>as picked by the Saunders family</p>


<%= image_tag @images.sample, height: 300,
							width: 300,
							class: "img-responsive"
							 %> 

